$colorPrincipal: orangered;
$colorLetra: #fff;
$colorSecundario: rgb(56, 32, 23)
$boton: (
    borde:0px,
    radio:5px,
    background:orange,
    color:white,
    pesoFuente:800,
    margen:10px,
);